<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <display-name>Archetype Created Web Application</display-name>
</web-app>
<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--         xmlns="http://xmlns.jcp.org/xml/ns/javaee"-->
<!--         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"-->
<!--         id="WebApp_ID" version="3.1">-->

<!--  <display-name>springgood-cource-security</display-name>-->

<!--  <absolute-ordering />-->

<!--&lt;!&ndash;  <servlet>&ndash;&gt;-->
<!--&lt;!&ndash;    <servlet-name>dispatcher</servlet-name>&ndash;&gt;-->
<!--&lt;!&ndash;    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>&ndash;&gt;-->
<!--&lt;!&ndash;    <init-param>&ndash;&gt;-->
<!--&lt;!&ndash;      <param-name>contextConfigLocation</param-name>&ndash;&gt;-->
<!--&lt;!&ndash;      <param-value>/WEB-INF/applicationContext.xml</param-value>&ndash;&gt;-->
<!--&lt;!&ndash;    </init-param>&ndash;&gt;-->
<!--&lt;!&ndash;    <load-on-startup>1</load-on-startup>&ndash;&gt;-->
<!--&lt;!&ndash;  </servlet>&ndash;&gt;-->

<!--&lt;!&ndash;  <servlet-mapping>&ndash;&gt;-->
<!--&lt;!&ndash;    <servlet-name>dispatcher</servlet-name>&ndash;&gt;-->
<!--&lt;!&ndash;    <url-pattern>/</url-pattern>&ndash;&gt;-->
<!--&lt;!&ndash;  </servlet-mapping>&ndash;&gt;-->

<!--</web-app>-->
